:root {
    --fundoColor : rgb(42, 129, 42);
    --letraColor :  rgb(246, 180, 37);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
background-color: var(--fundoColor);
color: var(--letraColor);
text-align: center;
}

.sectionLista {
    display: flex;
    flex-wrap: wrap;
}



footer {
    background-color: var(--fundoColor);
    color: var(--letraColor);
    text-align: center; 
    padding: 30px;
}